#update {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  border: 1px solid white;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
}
.inputStyle {
  width: 100%;
}
h1 {
  text-align: center;
  margin-bottom: 2rem;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff;
}
button {
  width: 100%;
}
p {
  margin-top: 1rem;
  text-align: center;
}
a {
  text-decoration: none;
}

#image {
  margin-left: 1rem;
}
::ng-deep span.mat-button-wrapper {
  font-size: large;
}
.contain {
  padding-top: 2rem;
}
.error {
  color: #d8000c;
  background-color: #ffbaba;
  padding: 10px;
}
