<app-header [isPresentInSignup]="isPresentInSignup"></app-header>
<div class="contain">
  <div id="register">
    <h1>Signup</h1>
    <div *ngIf="registeredStatus" id="success-message">
      Your account is created successfully, please check your email for verification link to activate your account.
    </div>
    <div *ngIf="errorMessage" class="error">
      {{errorText}}
    </div>
    <form [formGroup]="registerForm">
      <div>
        <mat-form-field class="inputStyle" appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="userName" />
          <mat-error *ngIf="userName?.errors?.['required']">
            User Name is required
          </mat-error>
          <mat-error *ngIf="userName?.errors?.['minlength']">
            Minimum 2 characters required
          </mat-error>
          <mat-error *ngIf="userName?.errors?.['maxlength']">
            User Name should be between 2-20 characters
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="inputStyle" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="emailId" />
          <mat-error *ngIf="emailId?.errors?.['required']">
            Email is required
          </mat-error>
          <mat-error *ngIf="emailId?.errors?.['pattern']">
            Enter valid email address
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="inputStyle" appearance="fill">
          <mat-label>Create Password</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="password?.errors?.['required']">
            Password is required
          </mat-error>
          <mat-error *ngIf="password?.errors?.['pattern']">
            Password should have min 8 letter password, with at least a symbol,
            upper and lower case letters and a number
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="inputStyle" appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            type="password"
            formControlName="confirmPassword"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon id="eye-icon">{{
              hide ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="confirmPassword?.errors?.['required']">
            Confirm Password is required
          </mat-error>
          <mat-error *ngIf="confirmPassword?.errors?.['passwordMismatch']">
            Password and Confirm Password should match
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="inputStyle" appearance="fill">
          <mat-label>Age</mat-label>
          <input matInput type="text" formControlName="age" />
          <mat-error *ngIf="age?.errors?.['required']">
            Age is required
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <label for="image">Profile Image:</label>
        <input id="image" type="file" (change)="onImageChange($event)" />
        <mat-error *ngIf="image?.errors?.['required']">
          Profile Image is required
        </mat-error>
      </div>

      <br />
      <button
        matButton
        mat-raised-button
        color="primary"
        (click)="register()"
        type="submit"
      >
        Signup
      </button>
    </form>
    <div>
      <p>Already have an account? <a routerLink="../login">Login</a></p>
    </div>
  </div>
</div>
