.card2 {
  width: 317px;
  float: left;
  margin: 0px 0px 35px 13px;
}
::ng-deep .mat-card {
  background: #ffffff00;
  color: rgba(0, 0, 0, 0.87);
}
.card2:hover {
  cursor: pointer;
  transition: transform 450ms;
  transform: scale(1.02);
}
.button-icon {
  position: absolute;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background 0.5s ease;
}

.card2:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}
#youtube {
  position: absolute;
  left: 140px;
  top: 190px;
  height: 70px;
  width: 70px;
}
.mat-icon {
  position: absolute;
  top: 9px;
  right: 10.5px;
}
.icon {
  font-size: xx-large;
}
#backdrop-image {
  height: 480px;
}
::ng-deep .mat-icon-button.mat-accent,
.mat-stroked-button.mat-accent {
  color: #ff0000;
  right: 20px;
}
.button {
  position: absolute;
  width: 500px;
  left: -92px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}
.button a {
  width: 200px;
  padding: 12px 125px;
  text-align: center;
  color: white;
  background-color: #f44336;
  z-index: 1;
  font-weight: bold;
}
.button {
  opacity: 1;
}
.delete-icon {
  position: absolute;
  right: 190px;
  top: 0px;
}
