<hr />
<div id="footer">
  <div class="container">
    <div id="about">
      <h3>About</h3>
      <p>
        At MOVIEUNIVERSE, we're passionate about <br />
        creating innovative solutions that enhance <br />
        user experiences. With a dedicated team of experts, <br />
        we strive to deliver cutting-edge technology.
      </p>
    </div>
    <div>
      <h3>SERVICES</h3>
      <ul>
        <li><a routerLink="/">All Movies</a></li>
        <li><a routerLink="/">Trending Movies</a></li>
        <li><a routerLink="/">Now Playing Movies</a></li>
      </ul>
    </div>
    <div>
      <h3>CONTACT</h3>
      <ul>
        <li><mat-icon>call</mat-icon>&nbsp;&nbsp; +91 9326082028</li>
        <li><mat-icon>mail</mat-icon>&nbsp;&nbsp; moviezone2024@gmail.com</li>
        <li><mat-icon>location_on</mat-icon>&nbsp;&nbsp; MOVIEZONE, India</li>
      </ul>
    </div>
    <div id="social-icons">
      <h3>KEEP IN TOUCH WITH US</h3>
      <ul id="social-icons-list">
        <li>
          <a target="_blank" href="https://www.facebook.com/"
            ><img
              class="icon-img"
              src="../../assets/social_media/facebook.png"
              alt=""
          /></a>
        </li>
        <li>
          <a target="_blank" href="https://www.instagram.com/"
            ><img
              class="icon-img"
              src="../../assets/social_media/instagram.png"
              alt=""
          /></a>
        </li>
        <li>
          <a target="_blank" href="https://twitter.com/"
            ><img
              class="icon-img"
              src="../../assets/social_media/twitter.png"
              alt=""
          /></a>
        </li>
      </ul>
    </div>
  </div>
  <div id="copyright">
    <p>Copyright &copy; The Movie Database. All rights reserved</p>
  </div>
</div>
